.matchup {
  margin-bottom: 15px;
  position: relative;
  margin-left: 50px;
}

.bracket {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 750px;
  min-width: 100vw;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-right: 50px;
  z-index: 1;
}

.bracketColumn {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.dividerRight {
  width: 50px;
  border-bottom: 1px solid white;
  position: absolute;
  right: -50px;
  top: 50%;
}

.dividerLeft {
  width: 50px;
  border-bottom: 1px solid white;
  position: absolute;
  left: -50px;
  top: 50%;
}

.dividerVertical {
  width: 1px;
  border-left: 1px solid white;
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
}

.bracketColumn:first-child .matchup .dividerLeft {
  border: none;
}

.bracketColumn:nth-child(1) {
  margin-left: 0px !important;
}

.bracketColumn:nth-child(n) {
  margin-left: 50px;
}

.bracketColumn:nth-last-child(1) .matchup .dividerRight,
.bracketColumn:nth-last-child(1) .dividerVertical {
  border: none;
}

.participant {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-primary);
  border-radius: 3px;
}

.winner {
  background-color: var(--color-tertiary);
  color: var(--color-text-primary);
  transition: all 0.3s ease-in-out;
  cursor: arrow;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  align-items: center;
}

.winner:hover {
  background-color: var(--color-text-primary);
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.loser {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: arrow;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  align-items: center;
}

.loser:hover {
  color: var(--color-text-secondary);
  cursor: arrow;
  transition: all 0.3s ease-in-out;
}
