@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #292f33;
  --color-secondary: #1f2326;
  --color-tertiary: #da342f;
  --color-text-primary: #ffffff;
  --color-text-secondary: #9fa3a6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-text-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
}
